<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imgshare</title>
    <!--bootstrap 4-->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!--font awesome
    <script src="https://kit.fontawesome.com/d1cf82ae9a.js" crossorigin="anonymous"></script>
    -->
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <!--custon css-->
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="../public/img/265876.png" alt="">
            </a>
        </div>
    </div>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{body}}}
            </div>
            <div class="col-md-4">
                {{> stats}}
                {{> popular}}
                {{> comments}}
            </div>
        </div>
    </div>
    <!--Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!--custom code-->
    <script src="/public/js/scripts.js"></script>
</body>
</html>